In [1]:
import pandas as pd
import random

In [27]:
df  = pd.read_csv("nyc_train_validate.csv")

In [28]:
df[df['education']==-9998]

,id,person_id,trip_n,travel_date,travel_date_dow,o_purpose_category,d_purpose_category,num_non_hh_travelers,num_hh_travelers,num_travelers,...,rent_own,income_aggregate,num_people,num_adults,num_kids,num_workers,num_students,disability,trip_distance,mode
386,386,16,0,03/06/2019,1,1,6,0,2,2,...,1,-9998,6,5,1,2,2,none,0.4,walk
387,387,16,1,03/06/2019,1,6,6,0,2,2,...,1,-9998,6,5,1,2,2,none,0.9,walk
388,388,16,2,03/06/2019,1,6,1,0,2,2,...,1,-9998,6,5,1,2,2,none,0.4,walk
389,389,16,3,05/06/2019,3,1,4,0,1,1,...,1,-9998,6,5,1,2,2,none,15.5,subway
390,390,16,4,05/06/2019,3,4,10,0,1,1,...,1,-9998,6,5,1,2,2,none,1.4,subway
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39292,39292,1786,16,12/06/2019,3,5,10,0,3,3,...,1,1,5,2,3,2,3,none,1.8,bus
39293,39293,1786,17,12/06/2019,3,1,7,0,2,2,...,1,1,5,2,3,2,3,none,0.5,drive
39294,39294,1786,18,12/06/2019,3,7,1,0,2,2,...,1,1,5,2,3,2,3,none,0.6,drive
39295,39295,1786,19,13/06/2019,4,1,5,0,4,4,...,1,1,5,2,3,2,3,none,2.3,drive
39296,39296,1786,20,13/06/2019,4,5,10,0,3,3,...,1,1,5,2,3,2,3,none,1.0,bus

In [29]:
df.head()

,id,person_id,trip_n,travel_date,travel_date_dow,o_purpose_category,d_purpose_category,num_non_hh_travelers,num_hh_travelers,num_travelers,...,rent_own,income_aggregate,num_people,num_adults,num_kids,num_workers,num_students,disability,trip_distance,mode
0,0,0,0,30/05/2019,4,-9998,2,0,1,1,...,2,4,5,3,2,1,2,none,13.4,subway
1,1,0,1,01/06/2019,6,-9998,1,0,1,1,...,2,4,5,3,2,1,2,none,3.7,drive
2,2,0,2,02/06/2019,7,-9998,7,1,2,3,...,2,4,5,3,2,1,2,none,9.8,drive
3,3,0,3,02/06/2019,7,7,7,1,2,3,...,2,4,5,3,2,1,2,none,11.1,drive
4,4,0,4,03/06/2019,1,-9998,7,0,1,1,...,2,4,5,3,2,1,2,none,2.5,drive

In [41]:
df.iloc[:,:10].describe()

,id,person_id,trip_n,travel_date_dow,o_purpose_category,d_purpose_category,num_non_hh_travelers,num_hh_travelers,num_travelers
count,39444.000000,39444.000000,39444.000000,39444.000000,39444.000000,39444.000000,39444.000000,39444.000000,39444.00000
mean,19744.755172,876.586705,17.261662,4.019217,4.645624,5.368193,0.351334,1.313787,1.66512
std,11409.587711,519.076144,14.804657,1.969080,2.903368,3.145701,0.857035,0.685326,1.14115
min,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.00000
25%,9860.750000,431.000000,6.000000,2.000000,1.000000,2.000000,0.000000,1.000000,1.00000
50%,19721.500000,850.000000,14.000000,4.000000,6.000000,6.000000,0.000000,1.000000,1.00000
75%,29636.250000,1326.000000,25.000000,6.000000,7.000000,8.000000,0.000000,1.000000,2.00000
max,39497.000000,1794.000000,118.000000,7.000000,10.000000,10.000000,5.000000,7.000000,12.00000

In [42]:
df.iloc[:,10:21].describe()

,o_location_type,d_location_type,o_congestion,d_congestion,age,employment,student,license,planning_apps,industry,gender
count,39444.000000,39444.000000,39444.000000,39444.000000,39444.000000,39444.000000,39444.000000,39444.000000,39444.000000,39444.000000,39444.000000
mean,3.046801,3.186999,0.157337,0.124075,6.405638,2.383734,0.144483,0.850928,-428.989656,-1978.909771,1.487983
std,1.329513,1.276065,0.364123,0.329671,1.465089,2.070089,0.449391,0.356164,2034.571085,3993.454664,0.527405
min,1.000000,1.000000,0.000000,0.000000,4.000000,1.000000,0.000000,0.000000,-9998.000000,-9998.000000,1.000000
25%,1.000000,2.000000,0.000000,0.000000,5.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
50%,4.000000,4.000000,0.000000,0.000000,6.000000,1.000000,0.000000,1.000000,4.000000,8.000000,1.000000
75%,4.000000,4.000000,0.000000,0.000000,7.000000,3.000000,0.000000,1.000000,5.000000,13.000000,2.000000
max,4.000000,4.000000,1.000000,1.000000,11.000000,7.000000,2.000000,1.000000,8.000000,18.000000,4.000000

In [32]:
df.iloc[:,21:].describe()

,education,num_bicycles,num_vehicles,res_type,rent_own,income_aggregate,num_people,num_adults,num_kids,num_workers,num_students,trip_distance
count,39498.000000,39498.000000,39498.000000,39498.000000,39498.000000,39498.000000,39498.000000,39498.000000,39498.000000,39498.000000,39498.000000,39498.000000
mean,-703.670616,0.864449,0.801256,-522.393109,-1021.436326,-812.037141,2.635804,2.098638,0.537166,1.546737,0.724771,2.576781
std,2566.835270,1.210342,0.865603,2233.540480,3030.463449,2737.221440,1.437528,1.007777,0.906857,0.948295,1.020575,3.627625
min,-9998.000000,0.000000,0.000000,-9998.000000,-9998.000000,-9998.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.100000
25%,3.000000,0.000000,0.000000,2.000000,1.000000,2.000000,2.000000,1.000000,0.000000,1.000000,0.000000,0.300000
50%,6.000000,0.000000,1.000000,5.000000,2.000000,3.000000,2.000000,2.000000,0.000000,1.000000,0.000000,0.900000
75%,7.000000,1.000000,1.000000,6.000000,2.000000,5.000000,4.000000,2.000000,1.000000,2.000000,1.000000,3.300000
max,7.000000,8.000000,5.000000,9.000000,3.000000,6.000000,11.000000,8.000000,7.000000,6.000000,7.000000,20.000000

In [33]:
# delete rows without personid (54)
df = df[df['person_id']!=-9998]

## o_purpose_category

In [34]:
def process_o_purpose_category(df, row):
    '''
    impute by trips with the same person_id, travel date of week, d_purpose_category; otherwise, impute with all data by probability
    '''
    if row['o_purpose_category'] >= 0:
        return row['o_purpose_category']
    
    temp = df[(df['person_id']==row['person_id'])&\
              (df['travel_date_dow']==row['travel_date_dow'])&\
              (df['d_purpose_category']==row['d_purpose_category'])&\
              (df['o_purpose_category']!=-9998)]
    
    if temp.empty:
        o_purpose = df[(df['travel_date_dow']==row['travel_date_dow'])&\
                  (df['d_purpose_category']==row['d_purpose_category'])&\
                   (df['o_purpose_category']!=-9998)]['o_purpose_category']
        
        percentage = o_purpose.value_counts().cumsum() / o_purpose.value_counts().sum()
        random_number = random.uniform(0, 1)

        return percentage[percentage>random_number].index[0]
    
    return temp['o_purpose_category'].mode()[0]

In [35]:
random.seed(42)
df['o_purpose_category'] = df.apply(lambda x:process_o_purpose_category(df,x), axis=1)

## gender

In [36]:
gender = df[df['gender']!=-9998]['gender']
gender = gender.value_counts().cumsum() / gender.value_counts().sum()
def process_gender(df, row):
    if row['gender'] >= 0:
        return row['gender']
    random_number = random.uniform(0, 1)
    return gender[gender>random_number].index[0]

In [37]:
random.seed(42)
df['gender'] = df.apply(lambda x:process_gender(df,x), axis=1)

## license

In [38]:
def process_license(df, row):
    if row['license'] >= 0:
        return row['license']

    temp = df[(df['person_id']==row['person_id'])&\
              (df['license']!=-9998)]
    
    if temp.empty:
        license = df[(df['age']==row['age'])&\
                  (df['gender']==row['gender'])&\
                  (df['license']!=-9998)]['license']
        if license.empty:
            license = df[(df['age']==row['age'])&\
                      (df['license']!=-9998)]['license']
            
        percentage = license.value_counts().cumsum() / license.value_counts().sum()
        random_number = random.uniform(0, 1)
        return percentage[percentage>random_number].index[0]
    
    return temp['license'].mode()[0]

In [39]:
random.seed(42)
df['license'] = df.apply(lambda x:process_license(df,x), axis=1)

In [40]:
df.to_csv("data_processed.csv",index=False)

## education

## industry

## income

In [169]:
df[(df['income_aggregate']==-9998)&(df['industry']==-9998)]

,id,person_id,trip_n,travel_date,travel_date_dow,o_purpose_category,d_purpose_category,num_non_hh_travelers,num_hh_travelers,num_travelers,...,rent_own,income_aggregate,num_people,num_adults,num_kids,num_workers,num_students,disability,trip_distance,mode
1244,1244,56,0,22/05/2019,3,1,6,0,1,1,...,2,-9998,1,1,0,0,0,walking,8.9,subway
1245,1245,56,1,22/05/2019,3,6,6,0,1,1,...,2,-9998,1,1,0,0,0,walking,1.0,bus
1246,1246,56,2,22/05/2019,3,6,6,0,1,1,...,2,-9998,1,1,0,0,0,walking,2.5,bus
1247,1247,56,3,22/05/2019,3,6,8,0,1,1,...,2,-9998,1,1,0,0,0,walking,1.6,subway
1248,1248,56,4,22/05/2019,3,8,6,0,1,1,...,2,-9998,1,1,0,0,0,walking,2.4,bus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39359,39359,1789,21,11/06/2019,2,8,1,0,1,1,...,2,-9998,2,2,0,0,0,none,7.8,drive
39360,39360,1789,22,11/06/2019,2,1,5,0,1,1,...,2,-9998,2,2,0,0,0,none,0.4,drive
39361,39361,1789,23,11/06/2019,2,5,1,0,1,1,...,2,-9998,2,2,0,0,0,none,0.3,drive
39362,39362,1789,24,12/06/2019,3,8,1,0,2,2,...,2,-9998,2,2,0,0,0,none,9.5,drive
39363,39363,1789,25,12/06/2019,3,1,1,0,2,2,...,2,-9998,2,2,0,0,0,none,14.1,drive

In [120]:
def process_income(df, x):
    if row['income'] >= 0:
        return row['imcome']

    income = df[(df['age']==row['age'])&\
              (df['gender']==row['gender'])&\
              (df['education']==row['education'])&\
              (df['industry']==row['industry'])&\
              (df['income']!=-9998)]['income']