In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('data/data_processed.csv')

In [7]:
candidate_cols = [
     'travel_date_dow',
     'o_purpose_category',
     'd_purpose_category',
     'num_non_hh_travelers',
     'num_hh_travelers',
     'num_travelers',
     'o_location_type',
     'd_location_type',
     'o_congestion',
     'd_congestion',
     'age',
     'employment',
     'student',
     'license',
     'planning_apps',
     'industry',
     'gender',
     'education',
     'survey_language',
     'num_bicycles',
     'num_vehicles',
     'res_type',
     'rent_own',
     'income_aggregate',
     'num_people',
     'num_adults',
     'num_kids',
     'num_workers',
     'num_students',
     'disability'
]

In [8]:
# covert string values to categorial codes
string_cols = ['survey_language', 'disability']
df[string_cols] = df[string_cols].astype('category')
df[string_cols] = df[string_cols].apply(lambda x: x.cat.codes)

## Feature importance regarding trip distance category
Calculate the mutual information between each feature and the `trip_distance_category`

In [11]:
from sklearn.feature_selection import mutual_info_classif, mutual_info_regression

X = df[candidate_cols].to_numpy()
y = df['trip_distance_category']
mutual_info = mutual_info_classif(X, y, discrete_features=True)

zipped = list(zip(candidate_cols, mutual_info))
zipped.sort(key=lambda x: x[1], reverse=True)
pd.DataFrame(zipped, columns=['feature_name', 'mutual_information'])

            feature_name  mutual_information
0           d_congestion            0.019314
1     d_purpose_category            0.017436
2           num_vehicles            0.016333
3               res_type            0.009415
4     o_purpose_category            0.006580
5       income_aggregate            0.005044
6               rent_own            0.004670
7                license            0.004557
8          num_travelers            0.003183
9             employment            0.002862
10              industry            0.002318
11       d_location_type            0.002307
12            num_adults            0.002246
13           num_workers            0.001803
14       o_location_type            0.001459
15                   age            0.001394
16         planning_apps            0.001362
17             education            0.001326
18          num_students            0.001287
19      num_hh_travelers            0.001280
20            num_people            0.001144
21          num_bicycles            0.001132
22          o_congestion            0.001132
23  num_non_hh_travelers            0.001117
24            disability            0.001001
25              num_kids            0.000841
26               student            0.000559
27       travel_date_dow            0.000471
28       survey_language            0.000099
29                gender            0.000056

## Feature importance regarding transport mode
Calculate the mutual information between each feature and `mode`

In [12]:
X = df[candidate_cols].to_numpy()
y = df['mode']
mutual_info = mutual_info_classif(X, y, discrete_features=True)

zipped = list(zip(candidate_cols, mutual_info))
zipped.sort(key=lambda x: x[1], reverse=True)
pd.DataFrame(zipped, columns=['feature_name', 'mutual_information'])

            feature_name  mutual_information
0           num_vehicles            0.146343
1     d_purpose_category            0.114895
2          num_travelers            0.099940
3               res_type            0.054285
4           o_congestion            0.045113
5   num_non_hh_travelers            0.044364
6           d_congestion            0.040170
7       num_hh_travelers            0.035262
8     o_purpose_category            0.034829
9                license            0.031419
10              industry            0.027982
11              rent_own            0.024179
12            num_people            0.023723
13          num_bicycles            0.019028
14                gender            0.018933
15                   age            0.016859
16         planning_apps            0.016499
17             education            0.015350
18      income_aggregate            0.013920
19       travel_date_dow            0.013092
20              num_kids            0.012417
21            num_adults            0.011933
22          num_students            0.011135
23            employment            0.009343
24           num_workers            0.008435
25            disability            0.007918
26       o_location_type            0.007690
27       d_location_type            0.006874
28               student            0.005659
29       survey_language            0.001457